.txt-file-view-content {
	padding: var(--size-4-4);
	margin: 0;
	white-space: pre-wrap;
	word-wrap: break-word;
	font-family: var(--font-monospace);
	font-size: var(--font-text-size);
	line-height: var(--line-height-normal);
	color: var(--text-normal);
	background: transparent;
}
